.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.flex-item{
    background: lightblue;
    padding: 20px;
    margin: 10px;
}