.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "menu content"
        "footer footer";
    grid-gap: 10px;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.menu {
    grid-area: menu;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    text-align: center;
}
